@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
@media screen and (max-width: 1025px) {
    #navbarSupportedContent15{
        float:left;
        width: 100%;
    }
    .navbar-toggler{
        float:right;
        display: block;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.container{
    position: absolute;
    height:auto;
    width: inherit;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
    /* margin: auto; */
    /* left: 0.78vw; right: 0.78vw; */
    
}
body{
    background-color:black;
    font-family: sans-serif;
}


.header{
    position: relative;
    /* height:28%; */
    height:126vh;
    width:100%;
    border: 1px white solid;
    
    
    
    /* opacity:0.5; */
    /* z-index:1; */
    /* background-blend-mode: screen; */
    /* background: linear-gradient(rgb(51,51,51,0.5),rgb(51,51,51,0.5)), url(./img-pattern-test.png); */
    /* background: black; */
    /* background-color: rgb(51,51,51); */
    background-blend-mode: overlay;
    background: url(./img-pattern-test.png);  
    /* background-color: rgb(51,51,51); */
    
/* opacity: 0.5; */
/* border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
/* transform: rotate(-90deg); */
    
}

#test{
     
    /* mix-blend-mode: overlay;  */
}

.aboutus{
    position: relative;
    height: 14%;
    width:100%;
    border: 1px white solid;
}

.services{
    position: relative;
    height: 20%;
    width:100%;
    border: 1px white solid;
}

.projects{
    position: relative;
    height: 16%;
    width:100%;
    border: 1px white solid;
}

.reviews{
    position: relative;
    height: 17%;
    width:100%;
    border: 1px white solid;
}

.contactus{
    position: relative;
    height: 13%;
    width:100%;
    border: 1px white solid;
}

.footer{
    position: relative;
    height: 8%;
    width:100%;
    border: 1px white solid;
}

.nav{
    /* height: 7%; */
    height: auto;
    /* width: 100%; */
}

.logo {
    position: relative;
    font-family: Work Sans;
    font-size: 4.15vh;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    
}
ul{
    position: relative;
    float: right;
}

li a{
    position: relative;
    /* height:19%; */
    font-family: Work Sans;
    font-size: 2.8vh;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    /* color:#131B23; */
} 
.nav_padding{
    padding-top: 8%;
}
.active_page{
    color: #ffd729;
}
a:hover{
    text-decoration: none;
}

li a:hover{
    color: #ffd729;
}
@media screen and (min-width: 1025px) {
    .navbar-toggler{
        display: none;
    }
}
.massive_text_container{
    height:93%;
    clear:left;
    display:flex; 
    align-items:center;
}
.massive_text p{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 12.1vh;
    /* line-height: 48px; */

    background-image: url(img-pattern-test.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: #ffffff;
}
.massive_text{
    padding-left: 7%;
    width:65%;
    display: flex;
    align-items: center;
    /* padding-top: 44%; */
}