@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
@media screen and (max-width: 1025px) {
    #navbarSupportedContent15{
        float:left;
        width: 100%;
    }
    .nav_padding{
        padding-top: 1%;
    }
    .navbar-toggler{
        float:right;
        display: block;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    /*Header flexbox ingenious text and laptop img*/
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        /* background-color: DodgerBlue; */
    }

    .flex-container > div {
        width: 100%;
        align-items: center;
    }
    .laptop_img_container{
        display: none;
    }
    .massive_text_container{
        /* width: 100%; */
        height: auto;
    }
    .massive_text{
        display:flex; 
        align-items:center;
        clear:left;
        width: 100%;
    }
    .massive_text p{
        font-family: Work Sans;
        font-style: normal;
        font-weight: 900;
        font-size: 5.001vw;
        width: 100%;
        line-height: 48px;
        
        background-image: url(img-pattern-test.png);
        background-clip: text;
        -webkit-background-clip: text;
        color: #ffffff;
        padding-top: 10.3vh !important;
        text-align: center;
    }
    .aboutus_button{}
}

.container_vd{
    position: absolute;
    height:auto;
    width: inherit;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
    /* margin: auto; */
    /* left: 0.78vw; right: 0.78vw; */
    
}
body{
    background-color:black;
    font-family: sans-serif;
}


.header{
    position: relative;
    height:28%;
    /* height:126vh; */
    width:inherit;
    border: 1px white solid;
    /* background: black; */
    /* background-color: rgb(51,51,51); */
    background-blend-mode: overlay;
    background: url(./img-pattern-test.png);  

    
}



.aboutus{
    position: relative;
    height: 14%;
    width:100%;
    border: 1px white solid;
}

.services{
    position: relative;
    height: 20%;
    width:100%;
    border: 1px white solid;
}

.projects{
    position: relative;
    height: 16%;
    width:100%;
    border: 1px white solid;
}

.reviews{
    position: relative;
    height: 17%;
    width:100%;
    border: 1px white solid;
}

.contactus{
    position: relative;
    height: 13%;
    width:100%;
    border: 1px white solid;
}

.footer{
    position: relative;
    height: 8%;
    width:100%;
    border: 1px white solid;
}

.nav{
    /* height: 7%; */
    height: auto;
    /* width: 100%; */
}

.logo {
    position: relative;
    font-family: Work Sans;
    font-size: 4.15vh;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-left: 5vw;
    padding-top:11vh;
    
}
ul{
    position: relative;
    float: right;
    padding-top:0.5%;
}

li a{
    position: relative;
    /* height:19%; */
    font-family: Work Sans;
    font-size: 2.8vh;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    /* color:#131B23; */
} 
.nav_padding{
    padding-top: 4vh;
}
.active_page{
    color: #ffd729;
}
a:hover{
    text-decoration: none;
}

li a:hover{
    color: #ffd729;
}
@media screen and (min-width: 1025px) {
    .navbar-toggler{
        display: none;
    }
}

.massive_text p{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 5.001vw;
    /* line-height: 48px; */

    background-image: url(img-pattern-test.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: #ffffff;
    padding-top: 20%;
}
.massive_text{
    /* clear:left; */
    
    padding-left: 7%;
    width:55%;
    float:left;
    /* display: flex; */
    /* align-items: center; */
    
}
.laptop_img_container{
    
    float:right;
    width:48.4vw;
    /* width:auto; */
    /* height: auto; */
    height:107vh;
    /* display: flex; */
}

.aboutus_button{
    /* width: 15.6vw; */
    height: 11vh;
    margin-top: 7vh;
    background-color: #ffd729;
}
.aboutus_button a{
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    /* DV Black */

    color: #131B23;
}

